:root {
    --facebook:     #3a579a;
    --twitter:      #00abf0;
    --instagram:    #dd2a7b;
    --youtube:      #c92228;
    --whatsapp:     #27ae60;
    --twitch:       #9146ff;

    --border:       #38444d;
    --background:   #15202b;
    --accent:       #ffc107;
}